
<!-- componentes criados em exemplos-aulas -->

<!-- BINDING  -->
<section class="property-binding">

  <article>
    <h3> 1- Interpolation/Interpolação </h3>

    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3> 2- Property Binding </h3>

    <img src="{{ urlImage1 }}" width="200px">
    <img [src]="urlImage2" width="300px">
    <!-- o exemplo que o [ ] faz:  <img bind-src=""> -->
  </article>

  <article>
    <h3> 3- Class e Style Binding</h3>
    <div>
      Selecione uma classe
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
    </div>
    <br><br>

    <div class="alert {{ classe.value }}" role="alert">
      Texto colorido conforme valor do combobox
    </div>

    <div
    class="alert"
    role="alert"
    [class.alert-success]="classe.value === 'alert-success' "
    >
      Sucesso
    </div>
    <div
    class="alert"
    role="alert"
    [class.alert-info]="classe.value === 'alert-info' "
    >
      Info
    </div>
    <div
    class="alert"
    role="alert"
    [class.alert-warning]="classe.value === 'alert-warning' "
    >
      Alerta
    </div>
    <div
    class="alert"
    role="alert"
    [class.alert-danger]="classe.value === 'alert-danger' "
    >
      Erro
    </div>
    <div
    class="alert"
    role="alert"
    [style.display]="classe.value === 'alert-danger' ? 'block' : 'none'"
    >
      Esse texto somente aparece em caso de erro.
    </div>
  </article>

  <article>
    <h3> 4- Event Binding</h3>
    <div>
      <button
        (click)="botaoClicado()"
        class="btn btn-primary"
      >
        Me clique!
      </button>

      <br><br>

      <input
        type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput>

      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <span
        (mouseover)="onMouseOverOut()"
        (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver"
      >Passe o mouse sobre mim</span>

    </div>
  </article>
</section>

<section>
  <article class="two-way-binding">
    <h3>5- Two-way data binding</h3>
    <div>

      <input type="text" [(ngModel)]="nomeDigitar">

      <input type="text" [(ngModel)]="pessoa">

        <p>Você digitou o nome {{ nomeDigitar }}</p>
    </div>
  </article>
</section>

<br><br><br>
<!-- INPUT/OUTPUT  -->
<section>
  <article>
    <h3>6- Input/Output Properties</h3>

    <app-input-property [nome]="nomeDoCurso"></app-input-property>

    <app-output-property
      [valor]="valorInical"
      (mudouValor)="onMudouValor($event)">
    </app-output-property>

  </article>
</section>

<br><br><br>
<!-- CICLO DE VIDA COMPONENTE  -->
<section>
  <article>
    <h3>Ciclo de vida componente</h3>

    <app-ciclo-vida [valor10]="Valor5" *ngIf="!deletarCiclo"></app-ciclo-vida>
    <button (click)="mudarValor() ">Mudar Valor</button>
    <button (click)="destruirCiclo">Deletar</button>
  </article>
</section>

<br><br><br>
<!-- DIRETIVAS  -->

<section>
  <article>
    <h3>Diretivas</h3>

    <app-diretiva-ngif></app-diretiva-ngif>
    <br>
    <app-diretiva-ngswitch></app-diretiva-ngswitch>
    <br>
    <app-diretiva-ngfor></app-diretiva-ngfor>
  </article>
</section>

