<h5>ngSwitch</h5>

<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
      <div class="navbar-nav">
        <a class="nav-link" [class.active]="aba === 'home'"
        (click)="aba = 'home'">Home</a>
        <a class="nav-link" [class.active]="aba === 'mapa'"
        (click)="aba = 'mapa'">Mapa</a>
        <a class="nav-link" [class.active]="aba === 'lista'"
        (click)="aba = 'lista'">Lista</a>
      </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'mapa'">Modo Mapa ativado</p>
  <p *ngSwitchCase="'lista'">Modo Lista ativado</p>
  <p *ngSwitchDefault>Home</p>
</div>
